/* ========================================================================================= */
/* OBJECT - CONTAINER */
/* ========================================================================================= */

.o-container {

    max-width: 100%;
    width: 1200px;
    display: block;
    margin: 0 auto;
    padding-left: ($paddin_col/2);
    padding-right: ($paddin_col/2);
    
}


/* ========================================================================================= */
/* END OBJECT - CONTAINER */
/* ========================================================================================= */