/* ========================================================================================= */
/* SETTINGS */
/* ========================================================================================= */

    // BLUE
    $color-a: #193e6d;

    // DARK BLUE
    $color-b: #1c395f;

    // LIGHT GREY
    $color-c: #ececec;

    // BLACK
    $black: #202020;

    // WHITE
    $white: #f1f1f1;

    // FONTS
    $font-a: 'Poppins', sans-serif;
    $font-b: 'Merriweather', sans-serif;

    $padding_col: 20px;

/* ========================================================================================= */
/* END SETTINGS */
/* ========================================================================================= */